# Python derleme dosyaları
__pycache__/
*.py[cod]

# Log dosyaları
logs/
*.log

# Veritabanı ve Tüm JSON'lar (Hepsini gizle)
data/
*.json

# İSTİSNA: Sadece örnek dosyayı yayınla (Bunu ekle)
!config.example.json